[submodule "node_modules/ejs"]
	path = node_modules/ejs
	url = git://gist.github.com/788091.git
[submodule "node_modules/relativedate"]
	path = node_modules/relativedate
	url = git://gist.github.com/788114.git
[submodule "node_modules/node-formidable"]
	path = node_modules/node-formidable
	url = git://github.com/felixge/node-formidable.git
[submodule "node_modules/utils"]
	path = node_modules/utils
	url = git://gist.github.com/871775.git
[submodule "node_modules/node-mongodb-native"]
	path = node_modules/node-mongodb-native
	url = git://github.com/christkv/node-mongodb-native.git
