[submodule "lib/base64"]
	path = lib/base64
	url = git://gist.github.com/788064.git
[submodule "lib/ejs"]
	path = lib/ejs
	url = git://gist.github.com/788091.git
[submodule "lib/relativedate"]
	path = lib/relativedate
	url = git://gist.github.com/788114.git
[submodule "lib/node-formidable"]
	path = lib/node-formidable
	url = git://github.com/felixge/node-formidable.git
[submodule "lib/utils"]
	path = lib/utils
	url = git://gist.github.com/871775.git
[submodule "lib/node-mongodb-native"]
	path = lib/node-mongodb-native
	url = git://github.com/jankuca/node-mongodb-native.git
