<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Error</title>
	<style type="text/css">
* {
	margin: 0;
	padding: 0;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
body {
	background: #222;
	color: #CCC;
	font-family: sans-serif;
}
#message {
	overflow: hidden;
	margin: 100px 100px 25px;
	padding: 25px;
	border-top: 1px solid #FFF;
	border-radius: 10px;
	background: #F5F5F5 -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #EEE),
		color-stop(0.2, #F5F5F5)
	);
	background-clipping: padding-box;
	color: #222;
}
p.message {
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: bold;
}
p.powered-by {
	float: left;
	margin-top: 15px;
	color: #888;
	font-size: 12px;
}
p.powered-by a {
	color: #555;
}
p.status {
	float: right;
	margin-top: 15px;
	color: #555;
	font-size: 12px;
}
pre.stack {
	border: 1px solid #DDD;
	color: #AAA;
}
pre.stack:first-line {
	color: #000;
}
pre.stack em {
	color: #555;
	font-style: normal;
}
pre.stack strong {
	color: #060;
}
	</style>
</head>
<body>
<div id="message">
	<p class="message"><%= message || 'An error occured.' %></p>
	<%= typeof stack != 'undefined' ? '<pre class="stack">' + stack.toString().replace(/\sat ([^\(]+) \((\S+):(\d+):(\d+)\)/g, "\n   " + '<strong>$1</strong>' + "\n   " + 'in file <em>$2</em> on line <em>$3</em>:<em>$4</em>') + '</pre>' : '' %>
	<p class="powered-by">Powered by the <a href="http://github.com/flowmedia/flowon">FlowOn Node.js framework</a></p>
	<p class="status"><%= status %></p>
</div>