<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Error</title>
	<style type="text/css">
* {
	margin: 0;
	padding: 0;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
body {
	height: 100%;
	background: #222;
	background-image: url('http://subtlepatterns.com/patterns/black_linen_v2.png');
	color: #CCC;
	font-family: sans-serif;
}
#message {
	overflow: hidden;
	margin: 100px 100px 25px;
	line-height: 20px;
	padding: 25px 25px 15px;
	border-top: 1px solid #FFF;
	border-radius: 10px;
	background-color: #F5F5F5;
	background-image: -webkit-linear-gradient(top, #F5F5F5, #DDD 40px);
	background-clipping: padding-box;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 20px;
	color: #222;
}
p.message {
	float: left;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
}
p.status {
	float: right;
	margin-bottom: 10px;
	color: #555;
	font-size: 12px;
}
pre.stack {
	clear: both;
	border: 1px solid #CCC;
	color: #AAA;
}
pre.stack:first-line {
	color: #000;
}
pre.stack em {
	color: #555;
	font-style: normal;
}
pre.stack strong {
	color: #060;
}
	</style>
</head>
<body>
<div id="message">
	<p class="message"><%= message || 'An error occured.' %></p>
	<%= typeof stack != 'undefined' ? '<pre class="stack">' + stack.toString().replace(/\sat ([^\(]+) \((\S+):(\d+):(\d+)\)/g, "\n   " + '<strong>$1</strong>' + "\n   " + 'in file <em>$2</em> on line <em>$3</em>:<em>$4</em>') + '</pre>' : '' %>
	<p class="status">Status code: <%= status %></p>
</div>
